@font-face {
  font-family: "norse";
  src: url("../fonts/norse-bold.woff2") format("woff2"),
       url("../fonts/norse-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: rgb(255, 255, 255);
  --main-bg-color: rgb(243, 244, 246);
  --transparent-black: rgba(0, 0, 0, 0.5);
  --logo-font: "norse", sans-serif;
  --base-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, 
  sans-serif,"Apple Color Emoji", "Segoe UI Emoji", 
  "Segoe UI Symbol";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: var(--base-font);
  background-color: var(--main-bg-color);
}

body > .container {
  display: flex;
}

.container > .sidebar {
  background-image: url("../img/ferns.jpg");
  color: var(--color-white);
  background-size: cover;
  width: max(30%, 300px);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar > .logo-container {
  display: flex;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  background-color: var(--transparent-black);
}

.logo-container > img {
  width: 100px;
  height: 125px;
}

.logo-container > h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: var(--logo-font);
}

.photo-credit > p {
  padding: 8px;
  text-align: center;
}

.photo-credit a {
  color: inherit;
}