@font-face {
  font-family: norse-bold;
  src: url(../fonts/Norse-Bold.otf);
}

:root {
  --primary-bg-color: #f9fafb;
  --secondary-color: #ffffff;
  --color-default: #E5E7EB;
  --color-invalid: #f64646;
  --color-focus: #6e6ef6;
  --accent-color: #596D48;
  --fern-bg: url(../img/fern.jpg) no-repeat;
  --transparent-bg: rgba(0, 0, 0, 0.464);
  --logo-font: norse-bold, sans-serif;
  --system-ui: system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--system-ui);
}

input,
button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

div.container,
.sidebar .logo,
form .input-container,
.form-col .form-row {
  display: flex;
}

.container .sidebar {
  background: var(--fern-bg);
  color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  width: 50%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.sidebar .logo {
  background-color: var(--transparent-bg);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 200px;
  width: 100%;
  padding: 8px;
}

.sidebar .logo>img {
  width: 5.5rem;
  height: 7rem;
}

.sidebar .logo>h1 {
  font-family: var(--logo-font);
  font-size: 5rem;
}

.sidebar p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
}

.sidebar p>a {
  color: inherit;
}

.container .main {
  background: var(--primary-bg-color);
  padding-top: 112px;
}

.main>*>* {
  padding-left: 50px;
}

.main .info-section>p {
  font-size: 1.7rem;
  font-weight: 600;
  width: clamp(45ch, 50%, 75ch);
}

.info-section p:last-child {
  margin-top: 16px;
  margin-bottom: 64px;
}

.info-section p>span {
  font-style: italic;
}

form>:not(div:last-of-type) {
  background: var(--secondary-color);
}

form>h2 {
  padding-top: 8px;
  padding-bottom: 16px;
}

form .input-container {
  gap: 90px;
  box-shadow: 0px 5px 5px 0px #dcdcdc;
}

.form-col .form-row {
  flex-direction: column;
}

.form-row>label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: .09rem;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'],
.form-row input[type='password'] {
  width: 250px;
  border: 2px solid var(--color-default);
  padding: 2px 10px;
  margin-bottom: 16px;
  outline: none;
  border-radius: 4px;
}

.form-row>input:focus:invalid {
  border: 2px solid var(--color-invalid);
}

.form-row>input:focus {
  border: 2px solid var(--color-focus);
  box-shadow: 0px 2px 3px #9d9d9d;
}