@font-face {
  font-family: norse-bold;
  src: url(../fonts/Norse-Bold.otf);
}

:root {
  --primary-bg-color: #f9fafb;
  --secondary-color: #ffffff;
  --fern-bg: url(../img/fern.jpg) no-repeat;
  --transparent-bg: rgba(0, 0, 0, 0.464);
  --logo-font: norse-bold, sans-serif;
  --system-ui: system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--system-ui);
}

input,
button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

div.container,
.sidebar .logo {
  display: flex;
}

.container .sidebar {
  background: var(--fern-bg);
  color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  width: 50%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.sidebar .logo {
  background-color: var(--transparent-bg);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  width: 100%;
  padding: 8px;
}

.sidebar .logo>img {
  width: 5.5rem;
  height: 7rem;
}

.sidebar .logo>h1 {
  font-family: var(--logo-font);
  font-size: 5rem;
}

.sidebar p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
}

.sidebar p>a {
  color: inherit;
}

.container .main {
  background: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  padding-top: 130px;
  padding-left: 50px;
}

.main .info-section>p {
  font-size: 1.5rem;
  font-weight: 600;
  width: clamp(45ch, 50%, 75ch);
}

.info-section p:last-child {
  margin-top: 16px;
  margin-bottom: 64px;
}

.info-section p>span {
  font-style: italic;
}